button:hover {
    cursor: pointer;
}

.next-button, .back-button {
    font-family: var(--font-family);
    font-size: 15px;
}

.next-button {
    margin-top: auto;
    margin-left: auto;
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: var(--next-button-color);
    border-radius: 10px;
}

.next-button:hover {
    background-color: var(--hover-button-color);
}

.back-button {
    width: auto;
    padding: 0;
    color: var(--back-button-color);
    background-color: transparent;
}

.back-button:hover {
    color: var(--hover-back-button-color);
}

.buttons-container {
    display: flex;
    align-items: center;
}
