:root {
    --primary-color: hsl(243, 100%, 62%);
    --title-color: hsl(213, 96%, 18%);
    --text-color: hsl(213, 96%, 18%);
    --secondary-text-color: hsl(231, 11%, 63%);
    --border-color: hsl(229, 24%, 87%);
    --error-color: hsl(354, 84%, 57%);

    --next-button-color: hsl(213, 96%, 18%);
    --back-button-color: hsl(231, 11%, 63%);
    --selected-step-color: hsl(206, 94%, 87%);

    --hover-button-color: hsl(213.62, 71.6%, 31.76%);
    --hover-back-button-color: hsl(213, 96%, 18%);
    --active-input-color: hsl(243, 100%, 62%);

    --font-family: "Ubuntu", sans-serif;
    --bold-font: 700;
    --medium-font: 500;
    --light-font: 400;
}


  

body {
    margin: 0;
    background: ghostwhite;
}

.App {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
    justify-content: center;
    height: 70vh;
    width: 65%;
    padding: 15px 22.5px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* removing standard stylings */

input:focus {
    outline: none;
}

button {
    border: none;
}

input[type="checkout"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
    }
}
