@font-face {
    font-family: 'Ubuntu';
    src: url('../../public/assets/fonts/Ubuntu-Bold.ttf') format('ttf');
    font-weight: bolder; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../public/assets/fonts/Ubuntu-Medium.ttf') format('ttf');
    font-weight: normal; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../public/assets/fonts/Ubuntu-Regular.ttf') format('ttf');
    font-weight: lighter; 
}

:root {
    --primary-color: #473FFF;
    --secondary-color: #F9818D;
    --tertiary-color: #FFAF7E;
    --title-color: #032C5C;
    --subtitle-color: #35455F;
    --text-color: #2C3F5C;
    --secondary-text-color: #ADADB4;
    --error-text-color: #E3576D;

    --button-color: #04295A;
    --back-button-color: #ACADB7;
    --selected-step-color: #BEE3FF;

    --hover-button-color: #174A8B;
    --hover-back-button-color: #123760;
    --active-input-color: #5F5A9C;
    --error-input-color: #A7676F;

    --font-family: "Ubuntu", sans-serif;
    --bolder-font: "bolder";
    --medium-font: "normal";
    --light-font: "lighter";
}


  

body {
    margin: 0;
    background: ghostwhite;
}

.App {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px;
    justify-content: center;
    height: 70vh;
    width: 65%;
    padding: 15px 22.5px;
    border-radius: 10px;
    background: #fff;
}