.step {
  display: grid;
  margin: 30px 80px 15px;
  grid-template-rows: auto 1fr auto;
  gap: 30px;
}

.header {
  font-family: var(--font-family);
}

.title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 34px;
  font-weight: var(--bold-font);
}

.subtitle {
  margin-top: 0;
  color: var(--secondary-text-color);
}

/* Step 1 */

.inputs-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  font-family: var(--font-family);
  margin-top: auto;
  margin-bottom: auto;
}

.input-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

.input-texts-container {
  display: flex;
  justify-content: space-between;
}

.input-label {
  color: var(--text-color);
  font-size: 15px;
  font-weight: var(--medium-font);
}

.error {
  margin: 0;
  color: var(--error-color);
  font-weight: var(--bold-font);
}

.text-input {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.error-text-input {
  border-color: var(--error-color);
}

.text-input::placeholder {
  color: var(--secondary-text-color);
  padding-left: 4px;
  font-size: 16px;
  font-weight: var(--medium-font);
}

.text-input:focus {
  border-color: var(--active-input-color); 
}


/* Step 2 */

.plan-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.plan-card {
  display: grid;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-family: var(--font-family);
}

.plan-card:hover {
  cursor: pointer;
  border-color: var(--active-input-color);
}

.selected-plan-card {
  background: ghostwhite;
  border-color: var(--active-input-color);
}

.plan-card-icon {
  height: 50px;
  margin-bottom: 60px;
}

.plan-card-title {
  margin: 0;
  color: var(--text-color);
}

.plan-card-price {
  margin: 0;
  color: var(--secondary-text-color);
}

.switch-section-text {
  color: var(--secondary-text-color);
}

.selected-switch-section-text {
  color: var(--next-button-color);
}

.switch-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: ghostwhite;
  font-family: var(--font-family);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--next-button-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Step 3 */

.addons-container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.addon-card-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 14px;
  font-family: var(--font-family);
}

.addon-card-container:hover {
  cursor: pointer;
  border-color: var(--active-input-color);
}

.selected-addon-card-container  {
  background: ghostwhite;
  border-color: var(--active-input-color);
}

.checkbox-container {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  align-self: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  align-items: center;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked + .checkbox-custom {
  border-color: var(--primary-color);
  background-color: var(--primary-color); 
}

.checkbox-input:checked + .checkbox-custom::after {
  display: block;
}

.checkbox-custom::after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.addon-card-infos {
  display: grid;
  text-align: left;
  align-items: center;
}

.addon-card-name {
  color: var(--text-color);
  margin: 0;
  font-weight: var(--medium-font);
}

.addon-card-description {
  color: var(--secondary-text-color);
  margin: 0;
  font-size: 14px;
  font-weight: var(--light-font);
}

.addon-card-price {
  text-align: right;
  color: var(--active-input-color);
}

/* Step 4 */

.summary {
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-family: var(--font-family);
}

.summary-pricing-container {
  height: fit-content;
  background-color: ghostwhite;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.summary-plan {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-text-color);
  padding-bottom: 20px;
}

.summary-plan-name-container {
  display: flex;
  flex-direction: column;
}

.summary-plan-name {
  margin: 0;
  font-weight: var(--medium-font);
  color: var(--text-color);
}

.summary-plan-change {
  margin: 0;
  margin-top: 7px;
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.summary-plan-change:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.summary-plan-price {
  margin: 0;
  color: var(--text-color);
}

.addons-summary-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addon-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addon-summary-name {
  margin: 0;
  color: var(--secondary-text-color);
}

.addon-summary-price {
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.total-text {
  margin: 0;
  color: var(--secondary-text-color);
}

.total-price {
  margin: 0;
  color: var(--primary-color);
  font-size: 23px;
}

@media screen and (max-width: 1024px) {
  .step {
    margin: 0;
    gap: 0;
  }

  .inputs-container {
    margin-bottom: 20px;
  }
}