.step {
  display: grid;
  margin: 30px 80px 15px;
  grid-template-rows: auto auto 1fr;
  gap: 30px;
}

.header {
  font-family: var(--font-family);
}

.title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 34px;
  font-weight: var(--bold-font);
}

.subtitle {
  margin-top: 0;
  color: var(--secondary-text-color);
}

/* Step 1 */

.inputs-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  font-family: var(--font-family);
  margin-top: auto;
  margin-bottom: auto;
}

.input-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
}

.input-label {
  color: var(--text-color);
  font-size: 15px;
  font-weight: var(--medium-font);
}

.text-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.text-input::placeholder {
  color: var(--secondary-text-color);
  padding-left: 4px;
  font-size: 16px;
  font-weight: var(--medium-font);
}



/* Step 2 */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
