.buttons-container {
    display: flex;
    margin-top: auto;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.next-button, .back-button, .confirm-button {
    font-family: var(--font-family);
    font-size: 15px;
}

.next-button {
    margin-left: auto;
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: var(--next-button-color);
    border-radius: 10px;
    font-weight: var(--medium-font);
}

.next-button:hover {
    background-color: var(--hover-button-color);
}

.confirm-button {
    margin-left: auto;
    width: 120px;
    height: 50px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: var(--medium-font);
}

.confirm-button:hover {
    opacity: 0.6;
}

.back-button {
    width: auto;
    padding: 0;
    color: var(--back-button-color);
    background-color: transparent;
    font-weight: var(--medium-font);
}

.back-button:hover {
    color: var(--hover-back-button-color);
}

@media screen and (max-width: 1024px) {
    .buttons-container {
        display: none;
    }

    .mobile-buttons-container {
        display: flex;
        align-items: center;
        height: 12vh;
        margin-top: 58vh;
        padding: 0 21.5px;
        background-color: #fff;
    }
}